body
    font-family: 'Golos Text', sans-serif
    font-weight: 400
    font-size: 15px
    background: #F6F6F4
    color: var(--color-black)
    min-width: 420px

ul
    list-style: none
    margin: 0
    padding: 0

a
    color: inherit
    text-decoration: none

input, textarea, button, select
    outline: none
    border: 0
    border-radius: 0

button
    cursor: pointer

input, textarea
    background: transparent

.layout
    display: flex
    height: 100svh
    width: 100%
    overflow: hidden

.btn
    padding: 0 32px
    @include flexbox
    align-items: center
    justify-content: center
    gap: 10px
    height: 56px
    border-radius: 8px
    background: var(--color-accent)
    cursor: pointer
    color: var(--color-white)
    font-weight: 500
    svg
        display: block
        width: 20px
        height: 20px
        --color-icon: var(--color-white)
