body
    font-family: 'Golos Text', sans-serif
    font-weight: 400
    font-size: 15px
    background: #F6F6F4
    color: var(--color-black)
    min-width: 420px

ul
    list-style: none
    margin: 0
    padding: 0

a
    color: inherit
    text-decoration: none

input, textarea, button, select
    outline: none
    border: 0
    border-radius: 0

button
    cursor: pointer

input, textarea
    background: transparent

.layout
    display: flex
    height: 100svh
    width: 100%
    overflow: hidden

.btn
    padding: 0 32px
    @include flexbox
    align-items: center
    justify-content: center
    gap: 10px
    height: 56px
    border-radius: 8px
    background: var(--color-accent)
    cursor: pointer
    color: var(--color-white)
    font-weight: 500
    svg
        display: block
        width: 20px
        height: 20px
        --color-icon: var(--color-white)
    &-red
        color: #A50037
        background: #FCF3F2

.select
    background: var(--color-gray)
    border-radius: 8px
    height: 56px
    @include flexbox
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 2px
    cursor: pointer
    padding: 0 16px
    position: relative
    span
        display: block
        font-size: 13px
        color: #4F5D74
        line-height: 1.1
    p
        width: 100%
        padding: 0
        line-height: 1.1
        appearance: none
        background: transparent
        font-weight: 500
    select
        position: absolute
        inset: 0
        z-index: 2
        width: 100%
        height: 100%
        opacity: 0
        cursor: pointer
        appearance: none
        font-weight: 500
    &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        margin: auto 0
        right: 16px
        width: 24px
        height: 24px
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9201 8.45117L13.4001 14.9712C12.6301 15.7412 11.3701 15.7412 10.6001 14.9712L4.08008 8.45117' stroke='%23292D32' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")

.input
    width: 100%
    background: var(--color-gray)
    border-radius: 8px
    height: 56px
    @include flexbox
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 2px
    cursor: pointer
    padding: 0 16px
    position: relative
    span
        display: block
        font-size: 15px
        color: #4F5D74
        line-height: 14px
        position: absolute
        top: 21px
        transition: var(--transition-ms)
    input
        width: 100%
        padding: 0
        line-height: 14px
        appearance: none
        background: transparent
        cursor: pointer
        font-weight: 500
        position: absolute
        left: 16px
        top: 29px
    &:focus-within,
    &:has(input:not(:placeholder-shown))
        span
            top: 13px
            font-size: 13px
    &-pass-view
        top: 0 !important
        bottom: 0 !important
        right: 16px
        margin: auto
        width: 24px
        height: 24px
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5799 11.9999C15.5799 13.9799 13.9799 15.5799 11.9999 15.5799C10.0199 15.5799 8.41992 13.9799 8.41992 11.9999C8.41992 10.0199 10.0199 8.41992 11.9999 8.41992C13.9799 8.41992 15.5799 10.0199 15.5799 11.9999Z' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.9998 20.27C15.5298 20.27 18.8198 18.19 21.1098 14.59C22.0098 13.18 22.0098 10.81 21.1098 9.39997C18.8198 5.79997 15.5298 3.71997 11.9998 3.71997C8.46984 3.71997 5.17984 5.79997 2.88984 9.39997C1.98984 10.81 1.98984 13.18 2.88984 14.59C5.17984 18.19 8.46984 20.27 11.9998 20.27Z' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        cursor: pointer
        &.show
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5299 9.46992L9.46992 14.5299C8.81992 13.8799 8.41992 12.9899 8.41992 11.9999C8.41992 10.0199 10.0199 8.41992 11.9999 8.41992C12.9899 8.41992 13.8799 8.81992 14.5299 9.46992Z' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.8198 5.76998C16.0698 4.44998 14.0698 3.72998 11.9998 3.72998C8.46984 3.72998 5.17984 5.80998 2.88984 9.40998C1.98984 10.82 1.98984 13.19 2.88984 14.6C3.67984 15.84 4.59984 16.91 5.59984 17.77' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.41992 19.5299C9.55992 20.0099 10.7699 20.2699 11.9999 20.2699C15.5299 20.2699 18.8199 18.1899 21.1099 14.5899C22.0099 13.1799 22.0099 10.8099 21.1099 9.39993C20.7799 8.87993 20.4199 8.38993 20.0499 7.92993' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5099 12.7C15.2499 14.11 14.0999 15.26 12.6899 15.52' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.47 14.53L2 22' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.9998 2L14.5298 9.47' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
