.instructions
	max-width: 640px
	width: 100%
	margin: 0 auto
	@include flexbox
	flex-direction: column
	align-items: flex-start
	gap: 44px
	padding: 24px 0
	&-video
		width: 100%
		padding-bottom: 56.25%
		position: relative
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100% !important
			height: 100% !important
	&-content
		width: 100%
		@include flexbox
		flex-direction: column
		align-items: flex-start
		gap: 24px
		ol, ul
			margin: 0
			padding: 0
			line-height: 1.5
			padding-left: 15px
		ul
			list-style: disc
		p
			line-height: 1.5
		h2
			font-size: 24px
			font-weight: 600
		h3
			font-size: 20px
			font-weight: 600
		h4
			font-size: 18px
			font-weight: 600
	&-filter
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 12px
		width: 100%
