{% extends 'components/_layout-auth.html' %}
{% set site_title = 'Forgot password' %}

{% block content %}

<div class="auth-content">
	<div class="auth-title">Forgot your password?</div>
	<div class="auth-description">To reset your password, enter your email address.</div>
	<form action="#" method="post" class="auth-form">
		<label class="input">
			<span>Email</span>
			<input type="email" placeholder="" />
		</label>
		<button class="btn"><span>Send</span></button>
		<div class="auth-bottom"><a href="/login.html">Cancel</a></div>
	</form>
</div>

{% endblock %}